<!-- Our project start-->
<div id="what-we-do">
    <br><br>
    <div id="portfolio" class="page-section">
        <div class="content-wrapper">
            <div class="projects-holder-3">
                <div class="filter-categories">
                    <ul class="project-filter">
                        <li class="filter" data-filter="all"><span>Overview</span></li>
                        <li class="filter" data-filter="nature"><span>Architect's Note</span></li>
                        <li class="filter" data-filter="workspace"><span>Location</span></li>
                        <li class="filter" data-filter="city"><span>Gallery</span></li>
                        <li class="filter" data-filter="technology"><span>Master Plan</span></li>
                        <li class="filter" data-filter="technology"><span>Floore Plans</span></li>
                        <li class="filter" data-filter="technology"><span>Specification</span></li>
                        <li class="filter" data-filter="technology"><span>Downloade Brochure </span></li>
                    </ul>
                </div>
            </div>


            <br><br>
            <div id="about" class="page-section">
                <div class="col-sm-2"></div>
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <div class="service-item third-service">
                        <h4 style="font-size: xx-large">Project Name</h4>
                        <p style="margin: 0 !important;">Luxurious 1/2 BHK Apartments</p>
                        <p>MAHA RERA Regn. No.:762346721292</p>
                        <p style="margin: 0 !important;">Site Contact Details:-7237223822</p>
                        <p>Site Address:-Davana construction we build much</p>

                    </div>
                </div>
                <a> <button class="btn btn-success scroll-top" (click)="GoToOurProject()" style="padding: 18px 22px; "
                        data-toggle="modal" data-target="#myModal">ENQUIRE NOW</button> </a>
                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="row">
                                <div class="col-sm-3"></div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div id="what-we-do" style="margin-top: 80px;">
                                            <form id="what-we-do" action="" method="post">
                                                
                                                <div class="col-md-6">
                                                    <fieldset>
                                                        <input name="name" type="text" class="form-control" id="name"
                                                            placeholder="First Name..." required >
                                                    </fieldset><br>
                                                </div>
                                                <div class="col-md-6">
                                                    <fieldset>
                                                        <input name="name" type="text" class="form-control" id="name"
                                                            placeholder="Last Number..." required>
                                                    </fieldset><br>
                                                </div>
                                                <div class="col-md-6">
                                                    <fieldset>
                                                        <input name="email" type="phonenumber" class="form-control" id="phonenumber"
                                                            placeholder="Phone Number..." required>
                                                    </fieldset><br>
                                                </div>
                                                <div class="col-md-6">
                                                    <fieldset>
                                                        <input name="email" type="email" class="form-control" id="email"
                                                            placeholder="Email Address..." required>
                                                    </fieldset><br>
                                                </div>
                                                <div class="col-md-12">
                                                    <fieldset>
                                                        <textarea name="message" rows="6" class="form-control"
                                                            id="message" placeholder="Your message..."
                                                            required></textarea>
                                                    </fieldset><br>
                                                </div>
                                                <div class="col-md-12">
                                                    <fieldset>
                                                        <div style="text-align:center;" class="primary-button ">
                                                            <a href="#">Submit</a>
                                                        </div>
                                                    </fieldset>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <br><br>

    </div>





    <!-- Our project end-->


    <!-- our project start -->


    <!-- from directors desk start -->
    <div id="what-we-do">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h4 class="under-below" style="color: white;">Architect's Note </h4>
                        <div class="line-dec"></div>

                    </div>
                </div>
                <div class="col-md-8">
                    <div class="left-text">
                        <p> Lorem ipsum dolor sit amet,consectetur adipiscing elit,send do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscingelit, send
                            do eiusmod tempor incididunt ut lobore et dolore magna aliqua. </p>
                        <p> Lorem ipsum dolor sit amet,consectetur adipiscing elit,send do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscingelit, send
                            do eiusmod tempor incididunt ut lobore et dolore magna aliqua. </p>
                        <p> Lorem ipsum dolor sit amet,consectetur adipiscing elit,send do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscingelit, send
                            do eiusmod tempor incididunt ut lobore et dolore magna aliqua. </p>
                        <p> Lorem ipsum dolor sit amet,consectetur adipiscing elit,send do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscingelit, send
                            do eiusmod tempor incididunt ut lobore et dolore magna aliqua. </p>

                    </div>
                </div>

                <div class="col-md-3">
                    <div class="right-image">
                        <img src="assets/img/human.jpg" alt=""><br><br>
                        <p style="text-align: center;">Architect</p>
                        <h3 style="text-align: center;">Person Name</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- from directors desk end -->



    <!-- location  start  -->


    <div id="contact" class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h4>Location</h4>
                        <div class="line-dec"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="map">
                        <img src="assets/img/map.jpg" alt="">
                    </div>
                </div>

                <div class="col-md-6">
                    <h4 style="color: white; ">Amogh Paradise</h4>
                    <p style="color: white; margin: 0 !important;">Address: Survey No. 137,</p>
                    <p style="color: white; margin: 0 !important;">Next to Radisson Blu, Phase 1,</p>
                    <p style="color: white; margin: 0 !important;">Hinjewadi Rajiv Gandhi Infotech Park,</p>
                    <p style="color: white; margin: 0 !important;">Hinjewadi, Pune, Maharashtra 411057</p>

                    <div class="row">
                        <form id="contact" action="" method="post">
                            <div class="col-md-6">
                                <fieldset>
                                    <input name="name" type="text" class="form-control" id="name"
                                        placeholder="Your name..." required>
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <fieldset>
                                    <input name="email" type="email" class="form-control" id="email"
                                        placeholder="Your email..." required>
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    <textarea name="message" rows="6" class="form-control" id="message"
                                        placeholder="Your message..." required></textarea>
                                </fieldset>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- location end -->



    <!-- gallery start-->

    <div id="what-we-do">
        <div class="container">


            <div class="col-md-12">
                <div class="section-heading">
                    <h4 class="under-below" style="color: white;">Gallery</h4>
                    <div class="line-dec"></div>&nbsp;&nbsp;

                </div>

            </div>

            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="assets/img/building1.jpg" alt="Chicago">
                    </div>

                    <div class="item">
                        <img src="assets/img/building2.jpg" alt="Chicago">
                    </div>

                    <div class="item">
                        <img src="assets/img/building3.jpg" alt="New York">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>


        </div>&nbsp;



    </div>
    <!-- gallery end------->






    <!-- master plan  start  -->


    <div id="contact" class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h4>master plan</h4>
                        <div class="line-dec"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="map">
                        <img src="assets/img/master plan img.png" alt="">
                    </div>
                </div>

                <div class="col-md-6">
                    <p style="color: white;margin: 0 !important;">
                        <li> Landscaped garden with innovative features</li>
                    </p>
                    <p style="color: white; margin: 0 !important;">
                        <li>Club house with indoore games</li>
                    </p>
                    <p style="color: white;margin: 0 !important;">
                        <li> Well-equipped gymnasium </li>
                    </p>
                    <p style="color: white;margin: 0 !important;">
                        <li> guest rooms</li>
                    </p>
                    <p style="color: white;margin: 0 !important;">
                        <li> Amphitheatre</li>
                    </p>
                    <p style="color: white;margin: 0 !important;">
                        <li> Swimming pool & kid's pool with deck</li>
                    </p>
                    <p style="color: white;margin: 0 !important;">
                        <li> Kids play area</li>
                    </p>
                    <p style="color: white;margin: 0 !important;">
                        <li> Party lawn</li>
                    </p>
                    <p style="color: white;margin: 0 !important;">
                        <li> MUlty activity cort</li>
                    </p>
                    <p style="color: white;margin: 0 !important;">
                        <li> CCTV in common areas</li>
                    </p>
                    <p style="color: white;margin: 0 !important;">
                        <li> Sewage treatement plant Organic west composting</li>
                    </p>
                    <p style="color: white;margin: 0 !important;">
                        <li> Common area lighting on solar</li>
                    </p>
                    <p style="color: white;">
                        <li> DG back up for services and common area lighting</li>
                    </p>


                </div>
            </div>
        </div>
        <br>
    </div>

    <!-- master plan end -->



    <!-- floor plan  start  -->


    <div id="contact" class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h4>floor plan</h4>
                        <div class="line-dec"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="map">
                        <img src="assets/img/img1.png" alt="">
                    </div>
                </div>

                <div class="col-md-7">
                    <div class="map">
                        <img src="assets/img/img2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- floor plan end -->


    <!-- specifications start -->

    <div id="what-we-do">
        <br><br>
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h4>specifications</h4>
                        <div class="line-dec"></div>
                    </div>
                </div>
            </div>
            <br>
            <div id="about" class="page-section">

                <div class="row">

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class=" fourth-service">
                            <div class="icon">
                                <i style="color: darkseagreen; font-size: xx-large;" class="fa fa-calculator"
                                    aria-hidden="true"></i>

                            </div>
                            <h4 style="font-size: medium">Internal paint</h4>
                            <p>-Internal oil bound distemper</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class=" third-service">
                            <div class="icon">
                                <i style="color: darkseagreen; font-size: xx-large;" class="fa fa-clock-o"
                                    aria-hidden="true"></i>

                            </div>
                            <h4 style="font-size: large">Flooring </h4>
                            <p style="margin: 0 !important;">- Vitrified tiles for all rooms</p>
                            <p>- Ceramic tiles for toilets, balconies and attachec</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class=" fourth-service">
                            <div class="icon">
                                <i style="color: darkseagreen; font-size: xx-large;" class="fa fa-thumbs-o-up"
                                    aria-hidden="true"></i>

                            </div>
                            <h4 style="font-size: large">Kitchen</h4>
                            <p style="margin: 0 !important;">- Granite Platform with SS Sink</p>
                            <p style="margin: 0 !important;">- Glazed/Ceramic tile dado up to 2 ft height above platform
                            </p>
                            <p>- Provision for water purifier</p>
                        </div>
                    </div>
                </div>



            </div>


        </div>

    </div>
    <!-- specification end -->



    <!-- recommended for you start  -->
    <div id="what-we-do">
        <br><br>
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h4>recommended for you</h4>
                        <div class="line-dec"></div>
                    </div>
                </div>
            </div>
            <br>
            <div id="about" class="page-section">
                <div class="row">
                    <div class="col-md-6">
                        <h3 style="text-align: center;"> Project Name</h3>
                        <p style="margin: 0 !important; text-align: center;">Sit Location Address:Viman Nagar,pune</p>
                        <p style="text-align: center;">2/3 BHK Apartments</p>
                        <div class="map">
                            <img src="assets/img/building2.jpg" alt="">
                        </div><br>
                        <div class=" primary-button">
                            <div class="col-sm-3"></div>
                            <a routerLink="" class=" scroll-top" (click)="GoToOurProject()">KNOW MORE
                            </a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a routerLink="" class=" scroll-top" (click)="GoToOurProject()" data-toggle="modal" data-target="#myModal">enquire now </a>
                             <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="row">
                                <div class="col-sm-3"></div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div id="what-we-do" style="margin-top: 80px;">
                                            <form id="what-we-do" action="" method="post">
                                                
                                                <div class="col-md-6">
                                                    <fieldset>
                                                        <input name="name" type="text" class="form-control" id="name"
                                                            placeholder="First Name..." required >
                                                    </fieldset><br>
                                                </div>
                                                <div class="col-md-6">
                                                    <fieldset>
                                                        <input name="name" type="text" class="form-control" id="name"
                                                            placeholder="Last Number..." required>
                                                    </fieldset><br>
                                                </div>
                                                <div class="col-md-6">
                                                    <fieldset>
                                                        <input name="email" type="phonenumber" class="form-control" id="phonenumber"
                                                            placeholder="Phone Number..." required>
                                                    </fieldset><br>
                                                </div>
                                                <div class="col-md-6">
                                                    <fieldset>
                                                        <input name="email" type="email" class="form-control" id="email"
                                                            placeholder="Email Address..." required>
                                                    </fieldset><br>
                                                </div>
                                                <div class="col-md-12">
                                                    <fieldset>
                                                        <textarea name="message" rows="6" class="form-control"
                                                            id="message" placeholder="Your message..."
                                                            required></textarea>
                                                    </fieldset><br>
                                                </div>
                                                <div class="col-md-12">
                                                    <fieldset>
                                                        <div style="text-align:center;" class="primary-button ">
                                                            <a href="#">Submit</a>
                                                        </div>
                                                    </fieldset>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                        </div> <br>
                    </div>
                    <div class="col-md-6">
                        <h3 style="text-align: center;"> Project Name</h3>
                        <p style="margin: 0 !important; text-align: center;">Sit Location Address:Viman Nagar,pune</p>
                        <p style="text-align: center;">2/3 BHK Apartments</p>
                        <div class="map">
                            <img src="assets/img/building2.jpg" alt="">
                        </div><br>
                        <div class=" primary-button">
                            <div class="col-sm-3"></div>

                            <a routerLink="" class=" scroll-top" (click)="GoToOurProject()">KNOW MORE
                            </a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a routerLink="" class=" scroll-top" (click)="GoToOurProject()" data-toggle="modal" data-target="#myModal">enquire now </a>
                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="row">
                                            <div class="col-sm-3"></div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div id="what-we-do" style="margin-top: 80px;">
                                                        <form id="what-we-do" action="" method="post">
                                                            
                                                            <div class="col-md-6">
                                                                <fieldset>
                                                                    <input name="name" type="text" class="form-control" id="name"
                                                                        placeholder="First Name..." required >
                                                                </fieldset><br>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <fieldset>
                                                                    <input name="name" type="text" class="form-control" id="name"
                                                                        placeholder="Last Number..." required>
                                                                </fieldset><br>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <fieldset>
                                                                    <input name="email" type="phonenumber" class="form-control" id="phonenumber"
                                                                        placeholder="Phone Number..." required>
                                                                </fieldset><br>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <fieldset>
                                                                    <input name="email" type="email" class="form-control" id="email"
                                                                        placeholder="Email Address..." required>
                                                                </fieldset><br>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <fieldset>
                                                                    <textarea name="message" rows="6" class="form-control"
                                                                        id="message" placeholder="Your message..."
                                                                        required></textarea>
                                                                </fieldset><br>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <fieldset>
                                                                    <div style="text-align:center;" class="primary-button ">
                                                                        <a href="#">Submit</a>
                                                                    </div>
                                                                </fieldset>
                                                            </div>
            
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <br>
                    </div>
                </div>



            </div>


        </div>

    </div>

    <!-- recommended for you end  -->