<!-- get your dream home now start -->

<div id="what-we-do">
  <div class="" >
      <img src="assets/img/david.jpg" alt="Snow">      
      <div class="centered-top"><h1> <b> Project </b></h1></div>
      <div class="centered">
      <a routerLink="/Home" style="color: white;">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;Project
      </div>
  </div>
</div> 
<!-- get your dream home now end -->


















<!-- Our project start-->
<div id="what-we-do">     
  <br><br>
  
    <div id="portfolio" class="page-section">
      <div class="content-wrapper">
          <div class="inner-container container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="section-heading">
                          <h4>OUR PROJECTS</h4>
                          <div class="line-dec"></div>
                      </div>
                  </div>
              </div>
              <div class="projects-holder-3">
                  <div class="filter-categories">
                      <ul class="project-filter">
                          <li class="filter" data-filter="all"><span>All</span></li>
                          <li class="filter" data-filter="nature"><span>Completed</span></li>
                          <li class="filter" data-filter="workspace"><span>Ongoing</span></li>
                          <li class="filter" data-filter="city"><span>Upcoming</span></li>
                          <li class="filter" data-filter="technology"><span>Technology</span></li>
                      </ul>
                  </div>
                  <div class="projects-holder">
                      <div class="row">
                          <div class="col-md-3 col-sm-6 project-item mix workspace">
                            <div class="thumb">
                                <div class="image">
                                  <img src="assets/img/portfolio_01.jpg">
                                </div>
                                <div class="hover-effect">
                                  <a ><div  style="margin-top: 60%; " class="btn btn-light">
                                    <a (click)="GoToOurProjectNamePage()" style="font-size: 22px;color: white;">Project Name  <p style="font-size: 18px;">Location-Ravet Pune</p></a>
                                </div></a>
                               
                                </div>
                                
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-6 project-item mix workspace">
                            <div class="thumb">
                                <div class="image">
                                  <img src="assets/img/portfolio_02.jpg">
                                </div>
                                <div class="hover-effect">
                                  <a ><div  style="margin-top: 60%; " class="btn btn-light">
                                    <a (click)="GoToOurProjectNamePage()" style="font-size: 22px;color: white;">Project Name  <p style="font-size: 18px;">Location-Ravet Pune</p></a>
                                </div></a>
                               
                                </div>
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-6 project-item mix technology">
                            <div class="thumb">
                                <div class="image">
                                  <img src="assets/img/portfolio_03.jpg">
                                </div>
                                <div class="hover-effect">
                                  <a ><div  style="margin-top: 60%; " class="btn btn-light">
                                    <a (click)="GoToOurProjectNamePage()" style="font-size: 22px;color: white;">Project Name  <p style="font-size: 18px;">Location-Ravet Pune</p></a>
                                </div></a>
                               
                                </div>
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-6 project-item mix city">
                            <div class="thumb">
                                <div class="image">
                                  <img src="assets/img/portfolio_04.jpg">
                                </div>
                                <div class="hover-effect">
                                  <a ><div  style="margin-top: 60%; " class="btn btn-light">
                                    <a (click)="GoToOurProjectNamePage()" style="font-size: 22px;color: white;">Project Name  <p style="font-size: 18px;">Location-Ravet Pune</p></a>
                                </div></a>
                               
                                </div>
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-6 project-item mix nature">
                            <div class="thumb">
                                <div class="image">
                                  <img src="assets/img/portfolio_05.jpg">
                                </div>
                                <div class="hover-effect">
                                  <a ><div  style="margin-top: 60%; " class="btn btn-light">
                                    <a (click)="GoToOurProjectNamePage()" style="font-size: 22px;color: white;">Project Name  <p style="font-size: 18px;">Location-Ravet Pune</p></a>
                                </div></a>
                               
                                </div>
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-6 project-item mix technology">
                            <div class="thumb">
                                <div class="image">
                                  <img src="assets/img/portfolio_06.jpg">
                                </div>
                                <div class="hover-effect">
                                  <a ><div  style="margin-top: 60%; " class="btn btn-light">
                                    <a (click)="GoToOurProjectNamePage()" style="font-size: 22px;color: white;">Project Name  <p style="font-size: 18px;">Location-Ravet Pune</p></a>
                                </div></a>
                               
                                </div>
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-6 project-item mix workspace">
                            <div class="thumb">
                                <div class="image">
                                  <img src="assets/img/portfolio_07.jpg">
                                </div>
                                <div class="hover-effect">
                                  <a ><div  style="margin-top: 60%; " class="btn btn-light">
                                    <a (click)="GoToOurProjectNamePage()" style="font-size: 22px;color: white;">Project Name  <p style="font-size: 18px;">Location-Ravet Pune</p></a>
                                </div></a>
                               
                                </div>
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-6 project-item mix city">
                            <div class="thumb">
                                <div class="image">
                                  <img src="assets/img/portfolio_08.jpg">
                                </div>
                                <div class="hover-effect">
                                  <a ><div  style="margin-top: 60%; " class="btn btn-light">
                                    <a (click)="GoToOurProjectNamePage()" style="font-size: 22px;color: white;">Project Name  <p style="font-size: 18px;">Location-Ravet Pune</p></a>
                                </div></a>
                               
                                </div>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div> 
  </div>
  <br><br>

</div>

<!-- Our project end-->




 <!-- not able to fine what you are looking for  start -->

 <div id="what-we-do" >

    <div class=" container" >
        <img src="assets/img/photo.jpeg" alt="Snow">
        
        <div class="centered-top"><h3> <b style="font-size: 30px;"> Not abel to find what you are looking for ??? </b></h3></div>
        <div class="centered1"><h5> <b style="font-size: 19px;"> We will help you on it </b> </h5></div>
     
  
        <div class="centered-button">
  
        <div class="primary-button" >
          <a routerLink="ContactUs" class="scroll-top"  (click)=GoToContactUs()>Ask Us  </a>
        </div> 
        </div>
    
    </div>
       
  
  </div> 
 <!-- not able to fine what you are looking for  end -->

<!-- <router-outlet></router-outlet> -->