<!-- footer start -->
<!------------------------------------------------>
<div id="what-we-do">
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="">
                    <h4 style="font-size: 22px;">About Our Company</h4>
                    <h3> <ins> Marne Builders </ins></h3>
                    <p style="font-size: 15px;">Lorem ipsum dolor sit amet, consecteture adipiscing elit, sed do eiusmod
                        tempor ensididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="">
                    <h4 style="font-size: 22px;">Quick Links</h4>
                    <h6><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<a
                            style="color: white; font-size: 15px;" routerLink="/Home" class="scroll-top">Home</a></h6>
                    <h6><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<a
                            style="color: white;font-size: 15px;" routerLink="/WhoWeAre" class="scroll-top">About Us</a>
                    </h6>
                    <h6><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<a
                            style="color: white;font-size: 15px;" routerLink="/WhatWeDo" class="scroll-top">What We
                            Do</a></h6>
                    <h6><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<a
                            style="color: white;font-size: 15px;" routerLink="/OurProject"
                            class="scroll-top">Projects</a></h6>
                    <h6><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<a
                            style="color: white;font-size: 15px;" routerLink="/Gallery" class="scroll-top">Gallery</a>
                    </h6>
                    <h6><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<a
                            style="color: white;font-size: 15px;" routerLink="/Career" class="scroll-top">Career</a>
                    </h6>
                    <h6><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<a
                            style="color: white;font-size: 15px;" routerLink="/ContactUs" class="scroll-top">Contact
                            Us</a></h6>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="">

                    <h4 style="font-size: 22px;">Our Project Links</h4>
                    <h6 style="font-size: 15px;"><i class="fa fa-angle-right"
                            aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Name Of The Project</h6>
                    <h6 style="font-size: 15px;"><i class="fa fa-angle-right"
                            aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Name Of The Project</h6>
                    <h6 style="font-size: 15px;"><i class="fa fa-angle-right"
                            aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Name Of The Project</h6>
                    <h6 style="font-size: 15px;"><i class="fa fa-angle-right"
                            aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Name Of The Project</h6>
                    <h6 style="font-size: 15px;"><i class="fa fa-angle-right"
                            aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Name Of The Project</h6>
                    <h6 style="font-size: 15px;"><i class="fa fa-angle-right"
                            aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Name Of The Project</h6>
                    <h6 style="font-size: 15px;"><i class="fa fa-angle-right"
                            aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Name Of The Project</h6>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="">

                    <h4 style="font-size: 22px;">Get In Touch</h4>
                    <i class="fa fa-map-marker" aria-hidden="true">&nbsp;&nbsp;&nbsp; <b style="font-size: 15px;">
                            Office Address</b></i>
                    <h6 style="font-size: 15px;">Lorem ipsum dolor sit amit, consectetur edipiscing elit.</h6>
                    <i class="fa fa-phone" aria-hidden="true">&nbsp;&nbsp;&nbsp; <b style="font-size: 15px;"> Office
                            Address</b></i>
                    <h6>+914268756790</h6>
                    <i class="fa fa-envelope" aria-hidden="true">&nbsp;&nbsp;&nbsp; <b style="font-size: 15px;"> Write
                            Us </b></i>
                    <h6> <a href="" style="color: white; font-size: 15px;"> info@marnebuilders.com </a></h6>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="aaaaa">
    <div class="row">
        <div class="col-md-9">

            <div class="copyright-text">
                <ul>
                    <p style="font-size: 18px;">Follow Us On</p>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="social-icons">
                <ul>
                    <li>
                        <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/login"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a
                            href="https://www.linkedin.com/login?fromSignIn=true&trk=guest_homepage-basic_nav-header-signin"><i
                                class="fa fa-linkedin"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-rss"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                    </li>
                </ul>
            </div>
        </div>


    </div>




    <div class="row">
        <div class="col-md-7">

            <div class="copyright-text">
                <ul>
                    <p style="font-size: 18px;"> Developed & Designed By - Solutions</p>
                </ul>
            </div>
        </div>
    </div>

    <a href="" style="color: white; font-size: 15px;">Terms Of Use</a>&nbsp;|
    <a href="" style="color: white;font-size: 15px;">Privacy Policy</a>|
    <a href="" style="color: white;font-size: 15px;">Copyright &copy; 2020 - Marne Builder All rights reserved</a>|
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" style="color: white;font-size: 15px;">Disclaimer</a>&nbsp;|
    <a href="" style="color: white;font-size: 15px;">RERA Disclaimer</a>&nbsp;|
    <a href="" style="color: white;font-size: 15px;">Sitemap </a>&nbsp;|
    <a routerLink="/Admin" target="Admin" style="color: white;font-size: 15px;">Admin</a>&nbsp;|





    <!-- <li><a routerLink="/Registration">Registration</a></li> -->

</footer>
<!-- footer end -->