<!-- get your dream home now start -->

<div id="what-we-do">
  <div class=" " >
      <img src="assets/img/david.jpg" alt="Snow">      
      <div class="centered-top"><h1> <b> Contact Us </b></h1></div>
      <div class="centered">
      <a routerLink="/Home" style="color: white;">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;Contact Us
      </div>
  </div>
</div> 
<!-- get your dream home now end -->













<div id="contact" class="page-section">
  <div class="container">
          <div class="col-md-12">
              <div class="section-heading">&nbsp;&nbsp;&nbsp;
                  <h4 style="font-size: 22px;">Contact Us</h4>
                  <div class="line-dec"></div>
              </div>
          </div>





<!-----------------------------marne builders contact us------------------->


<div id="what-we-do">
  <div class="container">
      <div class="row">
          
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="service-item third-service">
              <h4 style="font-size: 22px;">Marne Buliders</h4>
              <p style="font-size: 15px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
          </div>
      </div>
      
      <div class="col-md-9">
          <div class="map">
              <img src="assets/img/map.jpg" alt="">
          </div>
      </div>



      </div>
  </div>
</div>




<div id="what-we-do">
<div class="container">     
  <div id="portfolio" class="page-section">
    <div class="content-wrapper">
        <div class="inner-container container">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h4 style="font-size: 22px;"> Explore Our Projects</h4>
                        <div class="line-dec"></div>
                    </div>
                </div>
            <div class="projects-holder-3">
                <div class="filter-categories">
                    <ul class="project-filter">
                      
                  
                  
                  <li> <div class="btn-group" role="group" aria-label="...">
                       
                      
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Location
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Dropdown link</a></li>
                        <li><a href="#">Dropdown link</a></li>
                      </ul>
                    </div>
                  </div> </li>   
                   <li> <div class="btn-group" role="group" aria-label="...">
                       
                      
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Project Name
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Dropdown link</a></li>
                        <li><a href="#">Dropdown link</a></li>
                      </ul>
                    </div>
                  </div> </li>   

                  <li> <div class="btn-group" role="group" aria-label="...">                     
                    <button type="button" class="btn btn-success">
                      Search
                    </button>
                   
                </div> </li>  
                    </ul>
                </div>
                <div class="projects-holder">
                    <div class="row">
    
                    </div>
                </div>
            </div>
        </div>
    </div>     
</div>
</div>
<!---------------------Second map------------------------->
<div id="what-we-do">
  <div class="container">
      <div class="row">
          
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class=" third-service">
              <h4 style="font-size: 22px;">Always On Time</h4>
              <p style="font-size: 15px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
          </div>
      </div>
      
      <div class="col-md-9">
          <div class="map">
              <img src="assets/img/map.jpg" alt="">
          </div>
      </div>
    </div>
  </div>
</div>











<div class="col-md-12">
  <div class="section-heading">
      <h4 style="font-size: 22px;"> Leave Us Message</h4>
      <div class="line-dec"></div>
  </div>
</div>
        <div class="row">
          <div class="col-sm-3"></div>
          
          <div class="col-md-6">
              <div class="row">
                <form id="contact" action="" method="post">
                  <div class="col-md-12">
                    <fieldset>
                      <input name="name" type="text" class="form-control" id="name" placeholder="First Name..." required>
                    </fieldset>
                  </div>
                  <div class="col-md-6">
                      <fieldset>
                        <input name="name" type="text" class="form-control" id="name" placeholder="Last Name..." required>
                      </fieldset>
                    </div>
                    <div class="col-md-6">
                      <fieldset>
                        <input name="name" type="text" class="form-control" id="name" placeholder="Phone Number..." required>
                      </fieldset>
                    </div>
                  <div class="col-md-6">
                    <fieldset>
                      <input name="email" type="email" class="form-control" id="email" placeholder="Email Adrress..." required>
                    </fieldset>
                  </div>
                  <div class="col-md-12">
                    <fieldset>
                      <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required></textarea>
                    </fieldset>
                  </div>
                  <div class="col-md-12">
                    <fieldset>
                      <div style="text-align:center;" class="primary-button ">
                          <a href="#">Submit</a>
                        </div>                      </fieldset>
                  </div>




                  
                </form>
              </div>
          </div>
      </div>   
  </div>
</div>
&nbsp;

