<!-- get your dream home now start -->

<div id="what-we-do">
  <div class="" >
      <img src="assets/img/david.jpg" alt="Snow">      
      <div class="centered-top"><h1> <b> What We Do</b></h1></div>
      <div class="centered">
      <a routerLink="/Home" style="color: white;">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;What we Do
      </div>
  </div>
</div> 
<!-- get your dream home now end -->












<!-- Our project start-->
<div id="what-we-do">
     
          
    <div id="portfolio" class="page-section">
      <div class="content-wrapper">
          <div class="inner-container container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="section-heading">
                          <h4>OUR PROJECTS</h4>
                          <div class="line-dec"></div>
                      </div>
                  </div>
              </div>
              <div class="projects-holder-3">
                  <div class="filter-categories">
                      <ul class="project-filter">
                        <!-- <li class="filter" id="allDivId" data-filter="all"><span>All</span></li> -->

                          <li class="filter"  data-filter="all"><span>All</span></li>
                          <li class="filter"   data-filter="nature" ><span>Completed</span></li>
                          <li class="filter"   data-filter="workspace"><span>Ongoing</span></li>
                          <li class="filter"   data-filter="city"><span>Upcoming</span></li>
                          <li class="filter"   data-filter="technology"><span>Technology</span></li>
                      </ul>
                  </div>
                  <div class="projects-holder">
                      <div class="row">
                          <div class="col-md-3 col-sm-6 project-item mix workspace">
                            <div class="thumb">
                                <div class="image">
                                  <img src="assets/img/portfolio_01.jpg">
                                </div>
                                <div class="hover-effect">
                                  <a href="assets/img/portfolio_big_01.jpg" data-lightbox="image-1"><div class="primary">
                                    <a href="#">KNOW MORE</a>
                                </div></a>
                               
                                </div>
                                
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-6 project-item mix workspace">
                            <div class="thumb">
                                <div class="image">
                                  <img src="assets/img/portfolio_02.jpg">
                                </div>
                                <div class="hover-effect">
                                  <a href="assets/img/portfolio_big_02.jpg" data-lightbox="image-1"><div class="primary">
                                    <a href="#">KNOW MORE</a>
                                </div></a>
                                </div>
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-6 project-item mix technology">
                            <div class="thumb">
                                <div class="image">
                                  <img src="assets/img/portfolio_03.jpg">
                                </div>
                                <div class="hover-effect">
                                  <a href="assets/img/portfolio_big_03.jpg" data-lightbox="image-1"><div class="primary">
                                    <a href="#">KNOW MORE</a>
                                </div></a>
                                </div>
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-6 project-item mix city">
                            <div class="thumb">
                                <div class="image">
                                  <img src="assets/img/portfolio_04.jpg">
                                </div>
                                <div class="hover-effect">
                                  <a href="assets/img/portfolio_big_04.jpg" data-lightbox="image-1"><div class="primary">
                                    <a href="#">KNOW MORE</a>
                                </div></a>
                                </div>
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-6 project-item mix nature">
                            <div class="thumb">
                                <div class="image">
                                  <img src="assets/img/portfolio_05.jpg">
                                </div>
                                <div class="hover-effect">
                                  <a href="assets/img/portfolio_big_05.jpg" data-lightbox="image-1"><div class="primary">
                                    <a href="#">KNOW MORE</a>
                                </div></a>
                                </div>
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-6 project-item mix technology">
                            <div class="thumb">
                                <div class="image">
                                  <img src="assets/img/portfolio_06.jpg">
                                </div>
                                <div class="hover-effect">
                                  <a href="assets/img/portfolio_big_06.jpg" data-lightbox="image-1"><div class="primary">
                                    <a href="#">KNOW MORE</a>
                                </div></a>
                                </div>
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-6 project-item mix workspace">
                            <div class="thumb">
                                <div class="image">
                                  <img src="assets/img/portfolio_07.jpg">
                                </div>
                                <div class="hover-effect">
                                  <a href="assets/img/portfolio_big_07.jpg" data-lightbox="image-1"><div class="primary">
                                    <a href="#">KNOW MORE</a>
                                </div></a>
                                </div>
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-6 project-item mix city">
                            <div class="thumb">
                                <div class="image">
                                  <img src="assets/img/portfolio_08.jpg">
                                </div>
                                <div class="hover-effect">
                                  <a href="assets/img/portfolio_big_08.jpg" data-lightbox="image-1"><div class="primary">
                                    <a href="#">KNOW MORE</a>
                                </div></a>
                                </div>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div> &nbsp;&nbsp;&nbsp;&nbsp;
      <div class="primary-button">
      <a routerLink="OurProject" class=" scroll-top" (click)="GoToOurProject()">KNOW MORE </a>
      </div> 
  </div>
    
</div>

<!-- Our project end-->
