<section class="cd-hero" style="background-color: black; opacity: 60%;">
    <div style="margin-top: 10px;">
      <ul class="cd-hero-slider autoplay">
        <!-- 
        <ul class="cd-hero-slider autoplay"> for slider auto play 
        <ul class="cd-hero-slider"> for disabled auto play
    -->
        <li class="selected first-slide" >
          <div class="cd-full-width" >
            <div class="tm-slide-content-div slide-caption">
                <h2>Maithili, Ravet Pune</h2>
              <p>1,1.5&2 BHK Spacious Homes</p>
  
              <div class="primary-button" style="margin-left: 7.5%;">
                
                <a style="margin-left: 20px;" routerLink="OurProjectName" (click)="GoToOurProjectNamePage()">Know More</a>
              </div>
            </div>
          </div> <!-- .cd-full-width -->
        </li>
  
  
  
  
        <li class="second-slide">
          <div class="cd-full-width">
            <div class="tm-slide-content-div slide-caption">
             
                <h2>Maithili, Ravet Pune</h2>
                <p>1,1.5&2 BHK Spacious Homes</p>
              <div class="primary-button" style="margin-left: 7.5%;">
                
                <a style="margin-left: 20px;" href="#">Know More</a>
              </div>
            </div>
          </div> <!-- .cd-full-width -->
        </li>
  
  
        <li class="second-slide">
          <div class="cd-full-width">
            <div class="tm-slide-content-div slide-caption">
              
                <h2>Maithili, Ravet Pune</h2>
                <p>1,1.5&2 BHK Spacious Homes</p>
              <div class="primary-button"style="margin-left: 7.5%;">
                
                <a style="margin-left: 20px;" href="#">Know More</a>
              </div>
            </div>
          </div> <!-- .cd-full-width -->
        </li>
  
        <li class="third-slide">
          <div class="cd-full-width">
            <div class="tm-slide-content-div slide-caption">
              
              <h2>Maithili, Ravet Pune</h2>
              <p>1,1.5&2 BHK Spacious Homes</p>
              <div class="primary-button"style="margin-left: 7.5%;" >
               
                <a style="margin-left: 20px;" href="#">Know More</a>
              </div>
            </div>
          </div> <!-- .cd-full-width -->
        </li>
      </ul> <!-- .cd-hero-slider -->
    </div>
    <div class="cd-slider-nav">
      <nav>
        <span class="cd-marker item-1"></span>
  
        <ul>
          <li class="selected"><a href="#0"></a></li>
          <li><a href="#0"></a></li>
          <li><a href="#0"></a></li>
        </ul>
      </nav>
    </div> <!-- .cd-slider-nav -->
  </section> <!-- .cd-hero -->


  
<div id="what-we-do">
    <br>
    <div class="container">
      <div class="col-md-12">
        <div class="section-heading">
          <h4 class="under-below" style="color: white; font-size: 22px;">Our Industrial Projects</h4>
          <div class="line-dec"></div>
          
        </div>
      </div>
      <div class="row">
        
        <div class="col-md-8">
          <div class="right-image"  >
            <img src="assets/img/blog3.jpg" alt="">
          </div>
        </div>
        <div class="col-md-4">
          <div class="left-text"  >
            <h4 style="margin: 0 !important;">Maithili Empire</h4>
            <p style="font-size: 20px;margin: 0 !important;"><b> Ravet, Pune</b></p>
            <p style="font-size: 20px;"><b> 1, 1.5 & 2 BHK Spacious Homes</b></p>
            <p style="float: left; font-size: 15px;">There are many variations of passages of Lorem Ipsum available, but
              the majority have suffered alteration in some form, by injected hum our,or randomised words which don't look
              even slightly believable. If you are going to use a passage of Lorem Ipsum,you need to be sure there isn't
              anything embarrassing hidden in the middel of text.</p>
  
            <ul>
              <li style="float: left;">
                <div class="primary-button">
                  <a routerLink="" (click)="GoToWhoWeArePage()" class="scroll-top">Know More</a>
                </div>
              </li>
             
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  


  
<div id="what-we-do">
    <br>
    <div class="container">
      <div class="col-md-12">
        <div class="section-heading">
         
          <div class="line-dec"></div>
          
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="left-text">
            <h4 style="margin: 0 !important;">Maithili Empire</h4>
            <p style="font-size: 20px;margin: 0 !important;"><b> Ravet, Pune</b></p>
            <p style="font-size: 20px;"><b> 1, 1.5 & 2 BHK Spacious Homes</b></p>
            <p style="float: left; font-size: 15px;">There are many variations of passages of Lorem Ipsum available, but
              the majority have suffered alteration in some form, by injected hum our,or randomised words which don't look
              even slightly believable. If you are going to use a passage of Lorem Ipsum,you need to be sure there isn't
              anything embarrassing hidden in the middel of text.</p>
  
            <ul>
              <li style="float: left;">
                <div class="primary-button">
                  <a routerLink="" (click)="GoToWhoWeArePage()" class="scroll-top">Know More</a>
                </div>
              </li>
             
            </ul>
          </div>
        </div>
        <div class="col-md-8">
          <div class="right-image">
            <img src="assets/img/blog3.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>



   
<div id="what-we-do">
    <br>
    <div class="container">
      <div class="col-md-12">
        <div class="section-heading">
          
          <div class="line-dec"></div>
          
        </div>
      </div>
      <div class="row">
        
        <div class="col-md-8">
          <div class="right-image">
            <img src="assets/img/blog3.jpg" alt="">
          </div>
        </div>
        <div class="col-md-4">
          <div class="left-text" >
            <h4 style="margin: 0 !important;">Maithili Empire</h4>
            <p style="font-size: 20px;margin: 0 !important;"><b> Ravet, Pune</b></p>
            <p style="font-size: 20px;"><b> 1, 1.5 & 2 BHK Spacious Homes</b></p>
            <p style="float: left; font-size: 15px;">There are many variations of passages of Lorem Ipsum available, but
              the majority have suffered alteration in some form, by injected hum our,or randomised words which don't look
              even slightly believable. If you are going to use a passage of Lorem Ipsum,you need to be sure there isn't
              anything embarrassing hidden in the middel of text.</p>
  
            <ul>
              <li style="float: left;">
                <div class="primary-button">
                  <a routerLink="" (click)="GoToWhoWeArePage()" class="scroll-top">Know More</a>
                </div>
              </li>
             
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  


  
  
<div id="what-we-do">
    <br>
    <div class="container">
      <div class="col-md-12">
        <div class="section-heading">
         
          <div class="line-dec"></div>
          
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="left-text">
            <h4 style="margin: 0 !important;">Maithili Empire</h4>
            <p style="font-size: 20px;margin: 0 !important;"><b> Ravet, Pune</b></p>
            <p style="font-size: 20px;"><b> 1, 1.5 & 2 BHK Spacious Homes</b></p>
            <p style="float: left; font-size: 15px;">There are many variations of passages of Lorem Ipsum available, but
              the majority have suffered alteration in some form, by injected hum our,or randomised words which don't look
              even slightly believable. If you are going to use a passage of Lorem Ipsum,you need to be sure there isn't
              anything embarrassing hidden in the middel of text.</p>
  
            <ul>
              <li style="float: left;">
                <div class="primary-button">
                  <a routerLink="" (click)="GoToWhoWeArePage()" class="scroll-top">Know More</a>
                </div>
              </li>
             
            </ul>
          </div>
        </div>
        <div class="col-md-8">
          <div class="right-image">
            <img src="assets/img/blog3.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>