<!-- get your dream home now start -->

<div id="what-we-do">
  <div class="">
    <img src="assets/img/david.jpg" alt="Snow">
    <div class="centered-top">
      <h1> <b> Career </b></h1>
    </div>
    <div class="centered">
      <a routerLink="/Home" style="color: white;">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;career
    </div>
  </div>
</div>
<!-- get your dream home now end -->





<!--  -->

<!-- <div class="container">
  <h2>Modal Example</h2>
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="row">
          <div class="col-sm-3"></div>

          <div class="col-md-6">
            <div class="row">
              <form id="contact" action="" method="post">
                <div class="col-md-12">
                  <fieldset>
                    <input name="name" type="text" class="form-control" id="name" placeholder="First Name..." required>
                  </fieldset>
                </div>
                <div class="col-md-6">
                  <fieldset>
                    <input name="name" type="text" class="form-control" id="name" placeholder="Last Name..." required>
                  </fieldset>
                </div>
                <div class="col-md-6">
                  <fieldset>
                    <input name="name" type="text" class="form-control" id="name" placeholder="Phone Number..."
                      required>
                  </fieldset>
                </div>
                <div class="col-md-6">
                  <fieldset>
                    <input name="email" type="email" class="form-control" id="email" placeholder="Email Adrress..."
                      required>
                  </fieldset>
                </div>
                <div class="col-md-12">
                  <fieldset>
                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..."
                      required></textarea>
                  </fieldset>
                </div>
                <div class="col-md-12">
                  <fieldset>
                    <div style="text-align:center;" class="primary-button ">
                      <a href="#">Submit</a>
                    </div>
                  </fieldset>
                </div>





              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>


        <div>
          <input id="ImgInp" type="file" class="form-control" (change)="uploadImages($event)" name="fileupload">
        </div>

      </div>
    </div>
  </div>
</div> -->



<!--career start  -->
<div id="what-we-do">
  <br>
  <div class="container">
    <div class="col-md-12">
      <div class="section-heading">
        <h4 class="under-below" style="color: white; font-size: 22px;">Career</h4>
        <div class="line-dec"></div>
        
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="left-text">
          <h4 style="float:left">Why Us</h4>
          <p style="float: left; font-size: 15px;">There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered alteration in some form,  If you are going to use a passage of Lorem Ipsum,you need to be sure there.
          There are many variations of passages of Lorem Ipsum available, but
              the majority have suffered alteration in some form,  If you are going to use a passage of Lorem Ipsum,you need to be sure there.
              There are many variations of passages of Lorem Ipsum available, but
              the majority have suffered alteration in some form,  If you are going to use a passage of Lorem Ipsum,you need to be sure there.</p>

              <p style="float: left; font-size: 15px;">There are many variations of passages of Lorem Ipsum available, but
                the majority have suffered alteration in some form,  If you are going to use a passage of Lorem Ipsum,you need to be sure there.
              There are many variations of passages of Lorem Ipsum available, but
                  the majority have suffered alteration in some form,  If you are going to use a passage of Lorem Ipsum,you need to be sure there.
                  There are many variations of passages of Lorem Ipsum available, but
                  the majority have suffered alteration in some form,  If you are going to use a passage of Lorem Ipsum,you need to be sure there.</p>
              
        </div>
      </div>
     
    </div>
  </div>
</div>
<!--career end  -->

<!-- current job opportunities start  -->
<div id="what-we-do">
  <br>
  <div class="container">
    
    <div class="row">
      <div class="col-md-12">
        <div class="left-text">
          <h4 style="float:left">Current Job Opportunities.</h4>
          <p style="float: left; font-size: 15px;">There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered alteration in some form,  If you are going to use a passage of Lorem Ipsum,you need to be sure there.
          There are many variations of passages of Lorem Ipsum available, but
              the majority have suffered alteration in some form,  If you are going to use a passage of Lorem Ipsum,you need to be sure there.
              There are many variations of passages of Lorem Ipsum available, but
              the majority have suffered alteration in some form,  If you are going to use a passage of Lorem Ipsum,you need to be sure there.</p>

              <p style="float: left; font-size: 15px;">There are many variations of passages of Lorem Ipsum available, but
                the majority have suffered alteration in some form,  If you are going to use a passage of Lorem Ipsum,you need to be sure there.
              There are many variations of passages of Lorem Ipsum available, but
                  the majority have suffered alteration in some form,  If you are going to use a passage of Lorem Ipsum,you need to be sure there.
                  There are many variations of passages of Lorem Ipsum available, but
                  the majority have suffered alteration in some form,  If you are going to use a passage of Lorem Ipsum,you need to be sure there.</p>
              
        </div>
      </div>
     
    </div>
  </div>
</div>
<!--current job opportunities end  -->


<!--apply for job start  -->

<div id="contact" class="page-section">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="section-heading">
                  <h4 style="font-size: 23px;">Apply For  Job</h4>
                  <div class="line-dec"></div>
              </div>
          </div>
      </div>
      <div class="row">
         <div class="col-sm-2"></div>
          <div class="col-md-8">
              <div class="row">
                <form id="contact" action="" method="post">
                  <div class="col-md-6">
                    <fieldset>
                      <input name="fname" type="text" class="form-control" id="fname" placeholder="First  Name..." required>
                    </fieldset>
                  </div>
                  <div class="col-md-6">
                    <fieldset>
                      <input name="lname" type="text" class="form-control" id="lname" placeholder="Last Name..." required>
                    </fieldset>
                  </div>
                  <div class="col-md-6">
                    <fieldset>
                      <input name="mobileno" type="text" class="form-control" id="mobileno" placeholder="Mobile No..." required>
                    </fieldset>
                  </div>
                  <div class="col-md-6">
                    <fieldset>
                      <input name="email" type="email" class="form-control" id="email" placeholder="Email Address..." required>
                    </fieldset>
                  </div>
                  
                  <div class="col-md-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="btn">Send Message</button>
                    </fieldset>
                  </div>
                </form>
              </div>
          </div>
          <div class="col-sm-2"></div>
      </div>
  </div>
</div>



<!--apply for job end  -->