<!-- get your dream home now start -->

<div id="what-we-do">
  <div class=" " >
      <img src="assets/img/david.jpg" alt="Snow" >      
      <div class="centered-top"><h1> <b> About Us </b></h1></div>
      <div class="centered">
      <a routerLink="/Home" style="color: white;">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;About us
      </div>
  </div>
</div> 
<!-- get your dream home now end -->










<!-- overview start -->

<div id="what-we-do">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="left-text">
                    <h4 style="float: left;">Overview</h4>
                    <p style="float: left; font-size: 15px;">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected hum our,or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum,you need to be sure there isn't anything embarrassing hidden in the middel of text.</p>
                    <p style="float: left; font-size: 15px;">There are many variations of passages of Lorem Ipsum available, but the majority have suffered</p>
                    <p style="float: left; font-size: 15px;">There are many variations of passages of Lorem Ipsum available, but the majority have suffered</p>

                    <ul>
                        <li>
                            <div class="primary-button">
                                <li><a routerLink="ContactUs"  class=" scroll-top" (click)="GoToContactusPage()">contact know </a></li>
                            </div>
                        </li>
                         <li>
                            <!-- <div class="primary-button">
                                <a href="#">Purchase Now</a>
                            </div> -->
                        </li> 
                    </ul>
                </div>
            </div>
            <h3>Our Qualities</h3>

            <div class="col-md-6">
                <h6 style="font-size: 15px;">Home</h6>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                    aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%;font-size: 15px;">100%</div>
                  </div>
            </div>
            <div class="col-md-6">
                <h6 style="font-size: 15px;">Home</h6>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                    aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%;font-size: 15px;">100%</div>
                  </div>
            </div>
            <div class="col-md-6">
                <h6 style="font-size: 15px;">Home</h6>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                    aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%;font-size: 15px;">100%</div>
                  </div>
            </div>
            <div class="col-md-6">
                <h6 style="font-size: 15px;">Home</h6>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                    aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%; font-size: 15px;">100%</div>
                  </div>
            </div>
            
            <div class="col-md-6" >
                <h6 style="font-size: 15px;">Home</h6>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                    aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%;font-size: 15px;">100%</div>
                  </div>
            </div>
        </div>
    </div>
<!-- overview end -->


<!-- from directors desk start -->
<div id="what-we-do">
    <div class="container">
        <div class="row">
            
            <div class="col-md-6">
                <div class="right-image">
                    <img src="assets/img/human.jpg" alt=""><p style="text-align: center;">Director-Person Name</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="left-text">
                    <h4>FROM DIRECTORS DESK</h4>
                    <p style="color: yellow; font-size: 15px;">There are many variations of passages of Lorem Ipsum available, but the majority have suffered </p> 
                       <p style="font-size: 15px;">There are many variations of passages of Lorem Ipsum available, but the majority have suffered 
                         alteration in some form, by injected hum our,or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum,you need to be sure there isn't anything embarrassing hidden in the middel of text  alteration in some form, by injected hum our,or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum,you need to be sure there isn't anything embarrassing hidden in the middel of text.</p>

                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- from directors desk end -->


<!-- history start -->

<!-- history end -->



<!-- meet our management team start-->
<div id="what-we-do">
     
          
  <div id="portfolio" class="page-section">
    <div class="content-wrapper">
        <div class="inner-container container">
            <div class="row">
                <div class="col-md-12">&nbsp;
                    <div class="section-heading">
                        <h4 style="color: white;">MEET OUR MANAGEMENT TEAM</h4>
                        <p style="font-size: 15px;">lorem ipsum is simply dummy text of the printing and typesetting industry</p>
                        <div class="line-dec"></div>
                    </div>
                </div>
            </div>
            <div class="projects-holder">
              <div class="row">
                  <div class="col-md-3 col-sm-6 project-item mix workspace">
                    <div class="thumb">
                        <div class="image">
                          <img src="assets/img/portfolio_01.jpg">
                        </div>
                        <div class="hover-effect">
                          <a ><div  style="margin-top: 60%; " class="btn btn-light">
                            <a  style="font-size: 22px;color: white;">Person Name  <p style="font-size: 18px;">Designation</p></a>
                        </div></a>
                       
                        </div>
                        
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6 project-item mix workspace">
                    <div class="thumb">
                        <div class="image">
                          <img src="assets/img/portfolio_02.jpg">
                        </div>
                        <div class="hover-effect">
                          <a ><div  style="margin-top: 60%; " class="btn btn-light">
                            <a  style="font-size: 22px;color: white;">Person Name  <p style="font-size: 18px;">Designation</p></a>
                        </div></a>
                       
                        </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6 project-item mix technology">
                    <div class="thumb">
                        <div class="image">
                          <img src="assets/img/portfolio_03.jpg">
                        </div>
                        <div class="hover-effect">
                          <a ><div  style="margin-top: 60%; " class="btn btn-light">
                            <a  style="font-size: 22px;color: white;">Person Name  <p style="font-size: 18px;">Designation</p></a>
                        </div></a>
                       
                        </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6 project-item mix city">
                    <div class="thumb">
                        <div class="image">
                          <img src="assets/img/portfolio_04.jpg">
                        </div>
                        <div class="hover-effect">
                          <a ><div  style="margin-top: 60%; " class="btn btn-light">
                            <a  style="font-size: 22px;color: white;">Person Name  <p style="font-size: 18px;">Designation</p></a>
                        </div></a>
                        </div>
                    </div>
                  </div>
                  
                 
                  
                  
              </div>
          </div>
        </div>
    </div> 
</div>
       
       
       


</div>

<!-- meet our management team end-->




<!---------------our storystart---------------------------->
  
  
<div id="what-we-do">
  <div class="container">
     
      
           
<div class="col-md-12">
  <div class="section-heading">
      <h4 class="under-below" style="color: white;">our story</h4>
      <!-- <div class="line-dec"></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->

      <p style="text-align: center; color: white; font-size: 15px;">Who are in extremely love with eco friendly cunstruction.</p>
  </div>
  
</div>   
         
          
<div class="row">
          
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class=" third-service">
        <p style="font-size: 15px;">Donec sed odio dui. Aenean eu leo quam venenatis vestibulum.
          Donec sed odio dui. Aenean eu leo quam venenatis vestibulum.
          Donec sed odio dui. Aenean eu leo quam venenatis vestibulum.
          Donec sed odio dui. Aenean eu leo quam venenatis vestibulum.
          Donec sed odio dui. Aenean eu leo quam venenatis vestibulum. </p>
    </div>
</div>
 <div class="col-md-3 col-sm-6 col-xs-12">
    <div class=" fourth-service">
        
        <p style="font-size: 15px;">Pelletesque arnare sem lasa quam.
          Pelletesque arnare sem lasa quam.
          Pelletesque arnare sem lasa quam.
          Pelletesque arnare sem lasa quam.
          Pelletesque arnare sem lasa quam.
        </p>
    </div>
</div>
 <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="third-service">
        
      <p style="font-size: 15px;">Donec sed odio dui. Aenean eu leo quam venenatis vestibulum.
        Donec sed odio dui. Aenean eu leo quam venenatis vestibulum.
        Donec sed odio dui. Aenean eu leo quam venenatis vestibulum.
        Donec sed odio dui. Aenean eu leo quam venenatis vestibulum.
        Donec sed odio dui. Aenean eu leo quam venenatis vestibulum. </p>          </div>
</div>
 <div class="col-md-3 col-sm-6 col-xs-12">
    <div class=" fourth-service">
        
      <p style="font-size: 15px;">Pelletesque arnare sem lasa quam.
        Pelletesque arnare sem lasa quam.
        Pelletesque arnare sem lasa quam.
        Pelletesque arnare sem lasa quam.
        Pelletesque arnare sem lasa quam.
      </p>          </div>
</div>
</div>


         
  </div>

 
</div>


