<!-- <img src="assets/background.jpg"  alt="Logo" >  -->

<div class="jumbotron container-fliud image">

  <div class="row">
    <div class="col-sm-4 col-md-4 col-xs-4"></div>
    <div class="col-sm-4 col-md-4 col-xs-4">
      <form [formGroup]="RegistrationForm">

        <div class="card image1">
          <div class="card-body">
            <h1 style="color: white">Main Slider</h1>

            <div class="form-group input-group-lg">
              <label for="tagline"></label>
              <input type="text" id="tagline" class="form-control" placeholder="tagline" formControlName="tagline">
            </div>
            <div class="form-group input-group-lg" style="margin-top: 40px;">
              <div class="col-sm-5"></div>
              <select id="category" class=" alert form-rounded form-control myinputcss col-sm-12 form-control-lg"
                placeholder="select category" formControlName="category">
                <option value="">Select Service Type</option>
                <option value="washing">wash</option>
                <option value="maintenance">Maintenance</option>
                <option value="wash">Wash/Maintenance</option>
                <option value="others">Other</option>
                <option value="cancel">Cancel</option>
              </select>


            </div>



            <div class="form-group input-group-lg" style="margin-top: 40px;">
              <div class="col-sm-5"></div>
              <select id="inputState" class=" alert form-rounded form-control myinputcss col-sm-12 form-control-lg"
                placeholder="project name" formControlName="projectname">
                <option value="">Select Service Type</option>
                <option value="washing">wash</option>

                <option value="maintenance">Maintenance</option>
                <option value="wash">Wash/Maintenance</option>
                <option value="others">Other</option>
                <option value="cancel">Cancel</option>
              </select>
            </div>
            <div class="form-group input-group-lg" style="margin-top: 40px;">
              <div class="col-sm-5"></div>
              <textarea class=" alert form-rounded form-control col-sm-12" rows="2" id="comment"
                placeholder="description1" formControlName="description1"></textarea>

            </div>
            <div class="form-group input-group-lg" style="margin-top: 40px;">
              <div class="col-sm-5"></div>
              <textarea class=" alert form-rounded form-control col-sm-12" rows="2" id="comment"
                placeholder="description2" formControlName="description2"></textarea>

            </div>

            <div class="">
              <label><input type="checkbox" formControlName="enquiry"> Enquery</label>

            </div>


            <!-- <div class="col-md-6">
              <div>
                <label for="ImgInp"><strong> Select Image :</strong></label>
              </div>
              <div>
                <input id="ImgInp" type="file" class="form-control" name="fileupload" >
              </div>
              <div>

              </div>

            </div> -->



            <div class="row">
              <div class="col-md-4"></div>
              <div class="button_group">
                <button type="submit" class="btn  btn-sm btn-success" style="margin-right: 25px"
                  (click)="saveAction(RegistrationForm.value)">submit</button>
                <!-- [disabled]="!loginModel.valid" -->
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-4 col-md-4 col-xs-4"></div>
  </div>
</div>